@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

body {
  background-color: #000;
  color: rgb(0, 155, 242);
}


header {
  background-color: rgb(0, 155, 242);
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

.logo {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}

.navigation a {
  color: #000;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}


#active {
  color: #fff;
}

#active-icon {
  color: #fff
}

/*Main Section*/

section {
  padding: 100px 200px;
  background-color: #000;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  /* background: url("../images/bg5.jpg") no-repeat;*/
  background-color: #313131;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main-img {
  float: right;
  width: 300px;
  margin: 100px;
}

.main h2 {
  color: #fff;
  font-size: 1.4em;
  font-weight: 500;
}

.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: rgb(0, 155, 242);
  font-size: 3em;
  font-weight: 600;
}

.main h3 {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-btn {
  color: #fff;
  background-color: rgb(0, 155, 242);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}

.main-btn:hover {
  background-color: #86a3ef;
  transform: scale(1.1);
}

.social-icons a {
  color: #fff;
  font-size: 1.7em;
  padding-right: 30px;
}

.social-img:hover {
  width: 20px;
}

/*Services*/

#services {
  background-color: #fff;
}

.title {
  display: flex;
  justify-content: center;
  color: rgb(0, 155, 242);
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.prices {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: rgb(0, 155, 242);
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
}

.card:hover {
  transform: scale(1.1);
}

.card .icon {
  color: #000;
  font-size: 8em;
  text-align: center;
}

.info {
  text-align: center;
}

.info h3 {
  color: #000;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.info p {
  color: #fff;
}

.pricebtn {
  text-decoration: none;
}

/*Projects*/

/*
.projects {
    background-color: #000016;
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: rgb(0,155,242);
    border: 1px solid rgb(0,155,242);
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #3a6cf4;
}

.more-details:hover {
    color: #601cfc;
}
*/

/*Contact*/

.contact .icon {
  font-size: 4.5em;
}

.contact .info h3 {
  color: #000;
}

.contact .info p {
  font-size: 1.5em;
}

/*Footer*/

.footer {
  background-color: rgb(0, 155, 242);
  color: #fff;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}

.footer-title span {
  color: #000;
}

.footer .social-icons a {
  font-size: 1.3em;
  padding: 0 12px 0 0;
}

@media (max-width:1023px) {
  header {
    padding: 12px 20px;
  }

  .navigation a {
    padding-left: 10px;
  }

  .title {
    font-size: 1.8em;
  }

  section {
    padding: 80px 20px;
  }

  .main-content h2 {
    font-size: 1em;
  }

  .main-content h3 {
    font-size: 1.6em;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  #main {
    justify-content: space-between;
  }

}

@media (max-width:641px) {
  body {
    font-size: 12px;
  }

  .main-content h2 {
    font-size: 0.8em;
  }

  .main-content h3 {
    font-size: 1.4em;
  }

  .main-img {
    display: none;
    float: right;
    margin: 50px 2px 0 0;
    width: 150px;
  }

  .titleimg {
    background: url("/images/codingpc1.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 140px;
  }

  #main {
    justify-content: flex-start;
  }

}

@media (max-width:300px) {
  body {
    font-size: 10px;

  }
}


.aboutall {
  justify-content: center;
}

.abouttext {
  clear: left;
}

.markpic {
  display: inline-block;
  align-items: center;
}

hr {
  color: rgb(0, 155, 242);
  width: 50%;
  display: inline-block;
  content: center;
  height: 3px;
}

.aboutcard {
  background-color: #0f1846;
  border-radius: 20px;
  width: 21.25em;
  padding: 25px;
  margin: 15px;
  font-size: 13px;
  font-weight: 800;
  color: #fff;
  justify-content: center;
  text-align: left;
}

#about {
  background-color: #00424e;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#mark {
  padding-right: 15px;
  width: 120px;
  float: left;
  /*padding: 10px;*/
}

#about-title {
  background-color: #0f1846;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
}

.aboutcard span {
  font-size: 15px;
  font-weight: 900;
  color: rgb(0, 155, 242);
}


/* Container for skill bars */
.container {
  width: 100%;
  /* Full width */
  background-color: #000;
  /* Grey background */
  border-radius: 20px;
}

.skills {
  text-align: center;
  /* Right-align text */
  padding-top: 10px;
  /* Add top padding */
  padding-bottom: 10px;
  /* Add bottom padding */
  color: #fff;
  /* White text color */
  border-radius: 20px;

}

.html {
  background-color: #d84600;
  animation: htmlmove 4s;
  width: 100%;
}

.css {
  background-color: #2a92f0;
  animation: cssmove 4s;
  width: 40.32%;
}

.js {
  background-color: rgb(255, 187, 0);
  animation: jsmove 4s;
  width: 73.74%;
}

.php {
  background-color: #808080;
  animation: phpmove 4s;
  width: 0%;
}

.node {
  background-color: #00fe22;
  animation: nodemove 4s;
  width: 41.54%;
}

.python {
  background-color: #00ccff;
  animation: pythonmove 4s;
  width: 11.8%;
}

@keyframes htmlmove {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes cssmove {
  from {
    width: 0%;
  }

  to {
    width: 40.32%;
  }
}

@keyframes jsmove {
  from {
    width: 0%;
  }

  to {
    width: 73.74%;
  }
}

@keyframes phpmove {
  from {
    width: 0%;
  }

  to {
    width: 0%;
  }
}

@keyframes nodemove {
  from {
    width: 0%;
  }

  to {
    width: 41.54%;
  }
}

@keyframes pythonmove {
  from {
    width: 0%;
  }

  to {
    width: 11.8%;
  }
}

.prices {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#offers {
  background-color: #0f1846;
}

#discord {
  background-color: #313131;
}

#skills {
  background-color: #313131;
}

#skills h3 {
  color: #313131;
}

.aboutall {
  justify-content: center;
}

.markpic {
  display: inline-block;
  align-items: center;
}

hr {
  color: rgb(0, 155, 242);
  width: 50%;
  display: inline-block;
  content: center;
  height: 3px;
}

.about {
  font-size: 13px;
  font-weight: 800;
  color: #fff;
  justify-content: center;
}

.about span {
  font-size: 15px;
  font-weight: 900;
  color: rgb(0, 155, 242);
}

.tablink {
  background-color: rgb(0, 155, 242);
  color: #fff;
  float: left;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  padding: 10px 10px;
  margin: 1px;
  font-size: 14px;
  font-weight: 600;
  /*width: 25%;*/
}

.tablink {
  color: white;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: white;
  display: none;
  /*padding: 100px 20px;*/
  /* height: 100%;*/
}